@import url('http://fonts.cdnfonts.com/css/open-sans');


// Valores de Colores
$color-primario: #00D7C4;
$color-secundario: #208388;
$color-terciario:#FFFFFF;
$color-cuarto: #9C44C0;
$color-quinto: #707070;
$color-sexto: #136EA7;
$color-septimo: #000000;

// Valores de Fuentes

$Fuente-family-open-sans: 'Open Sans';

$Fuente-style-normal: normal;
$Fuente-weight-600: 600;
$Fuente-weight-normal: normal;
$Fuente-weight-bold: bold;
$Fuente-size-13: 0.7rem;
$Fuente-size-20: 1rem;
$Fuente-size-24: 1.3rem;
$Fuente-size-50: 2.5rem;
$Fuente-size-70: 3rem;
$caracter-spacing-0: 0px;
$Espaciado-18: 18px;
$Espaciado-27: 27px;
$Espaciado-33: 33px;
$Espaciado-68: 68px;
